.message-page-container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  
  .message-list {
    flex: 1;
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
  }
  
  .message-item {
    margin-bottom: 10px;
  }
  
  .message-timestamp {
    font-size: 12px;
    color: #777;
  }
  
  .message-content{
    margin-top: 5px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    }
    
    .message-input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    }
    
    .message-input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    }
    
    .send-button {
    padding: 8px;
    margin-left: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
  