.tongpage {
    display: flex; /* 使用 Flexbox 布局 */
    justify-content: space-around; /* 左中右三個部分平均分佈 */
    align-items: center; /* 垂直置中 */
    height: 100vh; /* 設定高度為視窗高度 */
    }
.z{
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 0 auto; /* 將卡片水平置中 */
    }





